.board {
    position: relative;
    width: 256px;
    height: 256px;
}

circle.player-0 {
    fill: white;
}

circle.player-0:hover {
    fill: grey;
}

circle.player-1 {
    fill: black;
}

circle.player-2 {
    fill: white;
    stroke: black;
    stroke-width: 1;
}